.grey-bg {
    background-color: gray;
}

.white-text {
    color : white
}
h2 {
    color : lightblue
}
img {
    height: 250px;
    
}

document.body.style.backgroundImage{
    size: landscape;
}

p{
  color : white
}

h3{
    color : orange
}
